<section>
  <div class="box">
    <div class="square" style="--i: 0"></div>
    <div class="square" style="--i: 1"></div>
    <div class="square" style="--i: 2"></div>
    <div class="square" style="--i: 3"></div>
    <div class="square" style="--i: 4"></div>
    <div class="square" style="--i: 5"></div>

    <div class="container">
      <div class="form">
        <h2>Đăng nhập</h2>
        <form [formGroup]="formBCCN">
          <div class="inputBx">
            <mat-form-field class="full">
              <input matInput type="text" formControlName="username"  />
          </mat-form-field>
            <span>Email</span>
            <i class="fas fa-user-circle"></i>
          </div>
          <div class="inputBx password">
            <mat-form-field class="full">
              <input matInput type="password" formControlName="password" />
           </mat-form-field>
            <span>Password</span>
            <!-- <a
              href="#"
              class="password-control"
              onclick="return show_hide_password(this);"
            ></a> -->
            <i class="fas fa-key"></i>
          </div>
          <!-- <label class="remember"><input type="checkbox" /> Remember</label> -->
         
        </form>
        <div>
          <button mat-raised-button class="button-cancle" (click)="onLogin()">
            <i class="fal fa-times-circle">&nbsp;</i> login
        </button>
        </div>
        <!-- <p>Forgot password? <a href="#">Click Here</a></p> -->
        <p>Bạn chưa có tài khoản ? <a routerLink="/signup">Đăng ký</a></p>
      </div>
    </div>
  </div>
</section>