<section>
  <div class="box">
    <div class="square" style="--i: 0"></div>
    <div class="square" style="--i: 1"></div>
    <div class="square" style="--i: 2"></div>
    <div class="square" style="--i: 3"></div>
    <div class="square" style="--i: 4"></div>
    <div class="square" style="--i: 5"></div>

    <div class="container">
      <div class="form">
        <h2>Đăng ký</h2>
        <form  [formGroup]="formBCCN">
          <div class="inputBx">
            <input type="text"  formControlName="username"/>
            <span>Email</span>
            <i class="fas fa-user-circle"></i>
          </div>
          <div class="inputBx password">
            <input
              id="password-input"
              type="password"
              name="password"
              cFormControl
            />
            <span>Password</span>
            <!-- <a
              href="#"
              class="password-control"
              onclick="return show_hide_password(this);"
            ></a> -->
            <i class="fas fa-key"></i>
          </div>
          <div class="inputBx password">
            <input
              id="password-input"
              type="password"
              name="password"
              cFormControl
            />
            <span>Nhập lại password</span>
            <!-- <a
              href="#"
              class="password-control"
              onclick="return show_hide_password(this);"
            ></a> -->
            <i class="fas fa-key"></i>
          </div>
          <!-- <label class="remember"><input type="checkbox" /> Remember</label> -->
       
        </form>
        <button mat-raised-button class="button-cancle" (click)="onLogin()">
          <i class="fal fa-times-circle">&nbsp;</i> Đăng kí
      </button>
        <p>Bạn đã có tài khoản ? <a routerLink="/login">Đăng nhập</a></p>
      </div>
    </div>
  </div>
</section>