/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #031323;
    overflow: hidden;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
